<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="desktop-bb8v27r\sqlexpress01.ProductSales.dbo" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-BB8V27R\SQLEXPRESS01;integrated security=SSPI;initial catalog=ProductSales;TrustServerCertificate=true" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>